@import "./main/reset.scss";

@import "./main/stylesheet.scss";

@import "./main/chief-slider.min.scss";

$primary-text-color: #0c0b10;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

/*-------------------header---------------------*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20;
}

.header__container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 24px 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  flex: 1 1 auto;
  margin: 0 139px 0 178px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  padding: 5px 0;
}

.menu__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.menu__link {
  font-family: Forum;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #fcfcfc;
}

.header__button {
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #000000;
  padding: 11px 25px;
  border-radius: 10px;
}

.header__button:hover {
  color: #fcfcfc;
}

.header__button::before {
  content: url(../imgs/header/decor-up.png);
  position: absolute;
  left: 43%;
  top: -12px;
}

.header__button::after {
  content: url(../imgs/header/decor-down.png);
  position: absolute;
  left: 43%;
  bottom: -13px;
}

.button {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  border: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s ease 0s;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.button-border {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.burger {
  display: none;
  height: 2px;
  width: 60px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
}

.burger::before,
.burger::after {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  display: block;
  height: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.burger::before {
  left: 14px;
  top: -10px;
  width: 46px;
}
.burger::after {
  top: 10px;
  width: 60px;
}

/*992px - 1379.75*/
@media (max-width: 1379.75px) {
  .header__menu {
    flex: 0 1 auto;
    margin: 0 10px;
  }

  .menu__list {
    justify-content: center;
  }

  .menu__item:not(:last-child) {
    margin: 0 15px 0 0;
  }
}

/*768px - 991.75*/
@media (max-width: 991.75px) {
  .header__logo img {
    max-width: 90px;
  }
  .menu__link {
    font-size: 14px;
  }
}

/*320px - 767.75px*/
@media (max-width: 767.75px) {
  .header__menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .burger {
    display: block;
  }
}

/*-------------------main-block----------------------*/

.main-block {
  position: relative;
  background: url(../imgs/main-page/background1.jpg);
  background-size: cover;
  background-position: center;
  padding: 128px 0 110px 0;
}
.main-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(226, 211, 206, 0) 65%,
    rgba(226, 211, 206, 0.8) 88%,
    rgba(226, 211, 206, 1) 96%
  );
  opacity: 1;
  z-index: 10;
}

.main-block__container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.main-block__slogan {
  font-size: 25px;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: #0c0b10;
  max-width: 138px;
  margin: 0 auto 64px;
}

.main-block__lake {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../imgs/main-page/background2.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 65%;
  z-index: 2;
}

.main-block__title1 {
  font-size: 198px;
  text-align: center;
  letter-spacing: 8px;
  line-height: 0.65;
  text-transform: uppercase;
  color: #fcfcfc;
  max-width: 936px;
  position: relative;
  margin: 0 auto;
  z-index: 3;
}

.main-block__mountains {
  background: url(../imgs/main-page/background3.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 563px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 4;
}

.main-block__title2 {
  font-size: 142px;
  text-align: center;
  line-height: 1;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fcfcfc;
  position: relative;
  margin: 0 auto 20px;
  z-index: 5;
}

.main-block__hill {
  background: url(../imgs/main-page/background4.png);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 419px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 6;
}

.main-block__clouds-left {
  position: absolute;
  top: 785px;
  left: 0;
  z-index: 9;
  max-width: 1037px;
}
.main-block__clouds-left img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.main-block__clouds-right {
  position: absolute;
  top: 650px;
  left: 40vw;
  z-index: 9;
  max-width: 714px;
}
.main-block__clouds-right img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.rhombus1 {
  position: absolute;
  left: 45.7vw;
  top: 455px;
  z-index: 8;
}
.rhombus2 {
  position: absolute;
  top: 575px;
  left: 81.5vw;
  z-index: 8;
}
.rhombus3 {
  position: absolute;
  top: 380px;
  left: 11.5vw;
  z-index: 8;
}
.rhombus4 {
  position: absolute;
  top: 530px;
  left: 4vw;
  z-index: 8;
}
.rhombus5 {
  position: absolute;
  top: 460px;
  left: 86vw;
  z-index: 8;
}

/*992px - 1379.75*/
@media (max-width: 1379.75px) {
  .main-block__title1 {
    font-size: 150px;
  }
  .main-block__title2 {
    font-size: 120px;
  }
  .rhombus1 {
    top: 380px;
  }
}

/*768px - 991.75*/
@media (max-width: 991.75px) {
  .main-block__slogan {
    font-size: 20px;
  }
  .main-block__title1 {
    font-size: 110px;
  }
  .main-block__title2 {
    font-size: 90px;
  }
  .rhombus1 {
    top: 280px;
    max-width: 80px;
  }
  .main-block__title1 {
    max-width: 600px;
    z-index: 3;
  }
  .main-block__mountains {
    height: 533px;
  }
}

/*320px - 767.75px*/
@media (max-width: 767.75px) {
  .main-block__title1 {
    font-size: 50px;
  }
  .main-block__title2 {
    font-size: 40px;
  }
  .rhombus1 {
    top: 280px;
    max-width: 50px;
  }

  .main-block__title1 {
    max-width: 400px;
    z-index: 3;
  }

  .main-block__mountains {
    height: 480px;
  }
}

/*-------------------searcher----------------------*/

.main-block__searcher {
  position: relative;
  z-index: 13;
}
.searcher {
}
.searcher__container {
}

.searcher__top {
  padding: 26px 0 0 0;
}

.searcher__title {
  background: #ffffff;
  max-width: 330px;
  margin: 0 auto;
  border-radius: 67px;
  font-size: 26px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: #79655e;
  padding: 13px 46px;
  position: relative;
}
.searcher__title::before {
  content: url(../imgs/searcher/decor-search-up.png);
  position: absolute;
  left: 43%;
  top: -30px;
}

.searcher__title::after {
  content: url(../imgs/searcher/border-search.png);
  position: absolute;
  left: 8%;
  top: -10px;
}

.searcher__form {
  background: #ffffff;
  display: flex;
  max-width: 1110px;
  align-items: center;
  padding: 22px;
  box-shadow: 0px 18px 38px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: -27px 0 27px 0;
}

.searcher__content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.searcher__option {
  padding: 5px;
  display: flex;
  align-items: flex-start;
}

.searcher__image {
  display: block;
  padding: 5px 0;
}

.searcher__field {
  display: inline-block;
}

.searcher__subtitle {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  color: #79655e;
}

.searcher__text {
  border: 0;
  display: block;
  background-color: inherit;
}

.searcher__text::placeholder {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  color: #0c0b10;
}

.searcher__button {
  background: #0c0b10;
  border-radius: 121px;
  padding: 22px 24px;
  font-size: 24px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  color: #ffffff;
}

.searcher__button:hover {
  background: #2a292f;
}

.button__image {
  margin: 0 10px 0 0;
}

/*992px - 1379.75*/
@media (max-width: 1379.75px) {
  .searcher__form {
    flex-wrap: wrap;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0.6) 60%,
      rgba(255, 255, 255, 0) 96%
    );
    box-shadow: none;
  }

  .searcher__content {
    justify-content: space-between;
    align-items: center;
  }

  .searcher__button {
    flex: 0 1 20%;
  }

  .searcher__option {
    margin: 0 0 20px 0;
  }
}

/*768px - 991.75*/
@media (max-width: 991.75px) {
  .searcher__form {
    flex-wrap: nowrap;
  }
  .searcher__content {
    flex-wrap: wrap;
  }
}

/*320px - 767.75px*/
@media (max-width: 767.75px) {
}

/*-------------------experiences----------------------*/

.page__experiences {
  margin: -3px 0 0 0;
  background: #e2d3ce;
  position: relative;
  z-index: 11;
}
.experiences {
}

.experiences__container {
  padding: 0px 15px;
  margin: -31px auto 0;
}

.experiences__title {
  max-width: 540px;
  margin: 0 auto;
  z-index: 1;
}

.experiences__title::before {
  content: url(../imgs/experiences/rhombus.svg);
  position: absolute;
  left: 46%;
  top: -40px;
}

.experiences__text {
  position: relative;
  z-index: 2;
}

.subtitle {
  font-size: 60px;
  text-align: center;
  color: #0c0b10;
  line-height: 1;
}

.experiences__menu {
  margin: 55px 0 50px 0;
}

.experiences__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.experiences__item {
}

.experiences__item:not(:last-child) {
  margin: 0 40px 0 0;
}

.experiences__link {
  font-size: 24px;
  line-height: 98.5%;
  color: #79655e;
}

.experiences__icon {
  display: block;
  opacity: 0;
  margin: 0 auto;
}

.experiences__link:hover + .experiences__icon {
  opacity: 1;
}

.experiences__link:hover {
  color: #0c0b10;
}

/*992px - 1379.75*/
@media (max-width: 1379.75px) {
}

/*768px - 991.75*/
@media (max-width: 991.75px) {
  .subtitle {
    font-size: 40px;
  }

  .experiences__title::before {
    top: -110px;
  }
}

/*320px - 767.75px*/
@media (max-width: 767.75px) {
}

/*-------------------slider----------------------*/

.experiences__slider {
  margin: 23px 0 0 0;
}

.slider {
  position: relative;
}

.slider__wrapper {
  overflow: hidden;
}

.slider__items {
  display: flex;
}

.slider__item {
  max-width: 350px;
  height: 570px;
  border-radius: 10px;
  position: relative;
}

.slider__item:not(:last-child) {
  margin: 0 30px 0 0;
}

.slider__item:nth-child(1) {
  background: url(../imgs/slider/sliderImg1.jpg);
}

.slider__item:nth-child(2) {
  background: url(../imgs/slider/sliderImg2.jpg);
}

.slider__item:nth-child(3) {
  background: url(../imgs/slider/sliderImg3.jpg);
}

.slider__item:nth-child(4) {
  background: url(../imgs/slider/sliderImg4.jpg);
  background-size: cover;
}

.slider__item:nth-child(5) {
  background: url(../imgs/slider/sliderImg5.jpg);
}

.slider__item:nth-child(6) {
  background: url(../imgs/slider/sliderImg6.jpg);
}

.slider__item:nth-child(7) {
  background: url(../imgs/slider/sliderImg7.jpg);
}

.slider__item:nth-child(8) {
  background: url(../imgs/slider/sliderImg8.jpg);
}

.slider__item:nth-child(9) {
  background: url(../imgs/slider/sliderImg9.jpg);
}

.slider__control {
}

.slider__content {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  padding: 35px;
}
.slider__text {
}
.slider__place {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #ffffff;
}

.slider__place span {
  margin: 0 0 0 5px;
}
.slider__title {
  font-size: 36px;
  line-height: 98.5%;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
  margin: 5px 0 35px 0;
}
.slider__booking {
  display: flex;
}

.slider__price {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 15px 0 0;
}

.slider__price span {
  display: block;
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 98.5%;
  color: #ffffff;
}

.slider__button {
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  border: 0.6px solid #ffffff;
  border-radius: 61px;
  padding: 10px 28px;
}
.slider__rate {
  margin: 0 0 5px 0;
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
}

.slider__rate img {
  display: block;
  margin: 2px 0 0 0;
}
.rate__number {
}
