@import "./main/reset.scss";

@import "./main/stylesheet.scss";

$primary-text-color: #0c0b10;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: Forum;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

@import "./components/header.scss";

@import "./components/main-block.scss";

@import "./components/experiences.scss";

@import "./components/luxury.scss";
