section.page__main-block.main-block
    .main-block__slogan the world’s most
    .main-block__lake
    h2.main-block__title1 EXTRA ORDINARY
    .main-block__mountains
    h2.main-block__title2 PLACES
    .main-block__hill
    img.rhombus1(src="./assets/imgs/main-page/rhombus1.svg", alt="")
    img.rhombus2(src="./assets/imgs/main-page/rhombus2.svg", alt="")
    img.rhombus3(src="./assets/imgs/main-page/rhombus3.svg", alt="")
    img.rhombus4(src="./assets/imgs/main-page/rhombus4.svg", alt="")
    img.rhombus5(src="./assets/imgs/main-page/rhombus5.svg", alt="")
    .main-block__clouds-left
        img(src="./assets/imgs/experiences/clouds-left.png", alt="")
    .main-block__clouds-right
        img(src="./assets/imgs/experiences/clouds-right.png", alt="")
    .main-block__searcher.searcher
        .searcher__container.container
            .searcher__top
                .searcher__title FIND YOUR JOURNEY
            form.searcher__form(action="") 
                .searcher__content
                    .searcher__option
                        img.searcher__image(src="./assets/imgs/searcher/icon_destination.png", alt="")
                        .searcher__field
                            span.searcher__subtitle Destination
                            input.searcher__text(type='text' name='destination' placeholder='Where are you going?')
                    .searcher__option
                        img.searcher__image(src="./assets/imgs/searcher/icon_travel.png", alt="")
                        .searcher__field
                            span.searcher__subtitle Travel type
                            input.searcher__text(type='text' name='travel-type' placeholder='Adventure Travel')
                    .searcher__option
                        img.searcher__image(src="./assets/imgs/searcher/icon_calendar.png", alt="")
                        .searcher__field
                            span.searcher__subtitle When
                            input.searcher__text(type='text' name='date' placeholder='14 Dec 2022')
                                .searcher__option
                                    img.searcher__image(src="./assets/imgs/searcher/icon_travellers.png", alt="")
                        .searcher__field
                            span.searcher__subtitle Travellers
                            input.searcher__text(type='text' name='travellers' placeholder='2 Persons')    
                button.searcher__button.button(type='button' name='find')
                    img.button__image(src="./assets/imgs/searcher/icon_search.svg", alt="")
                    | FIND