mixin sliderRate4
    .rate__number 4.0
    img(src="./assets/imgs/slider/rating0.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
mixin sliderRate5
    .rate__number 5.0
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")
    img(src="./assets/imgs/slider/rating1.svg", alt="")